# this is needed if using pnpm with electron builder,
# as electron builder needs to copy _all_ node modules,
# and pnpm doesn't normally make them all available
shamefully-hoist = true
legacy-peer-deps=true

@inperium-corp:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=${TOKEN}
always-auth=true
